/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* Imports des librairies tierces */
@import "primeicons/primeicons.css";

@theme {
  /* On définit les étapes du mouvement */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* On crée la classe utilisable : animate-fade-in-up */
  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;
}
